$backgroundFo: #000925;
$color: #ccc;
$align: center;

.container {
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    background-color: $backgroundFo;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.logo {
    width: 50px;
} 
.main-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 10px;
    text-align: left;
}

h2,
h3,
a {
    color: $color;
}

a {
    text-decoration: none;
}


.main-nav {
    margin-top: 5px;
    display: flex;
    a {
        padding: 10px 15px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        color: $color;
        font-size: 14px;
    }
    &:hover {
        color: #718daa;
    }
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #000925;
    color: #ccc;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
    text-align: left;
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f18b;
    color: #000925;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropbtn {
	cursor: pointer;
}
