//coloring
$backgroundFo: #2A2438;
$color: #ccc;
$align: center;

.componentsh2 {
    color: blue;
	cursor: pointer;
	margin-bottom: 2em;
} 

.componentListItem {
	margin-bottom: 4em;
}

.componentListItem img {
	border-bottom-style: solid;
}